body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
#navigation{
    //background-color: transparent;
    height: 15vh;
}
#nav-box{

}
.container-fluid{
   // height:10vh;
    margin-top:2vh;
   // margin-right:10vw;
}
#page_load{
    margin-top:100vh;
    overflow-y: hidden;
    height:40vh;
    background-color: ghostwhite;
}
a{
    padding: 10px;
    margin-right:1vw;
}
#logo{
    height:6vh;
    width:auto;
    margin-top:-2vh;
}
li{
    font-family: 'Raleway', sans-serif;
    font-size:1.25em;
    font-weight: bold;
}
#notice-board{
    background-color: antiquewhite;
    height:70vh;
}
#video-box{
    position:absolute;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    z-index:-1000;
    opacity: 0.9;
}
video{
    width:100vw;

}
.subtitles{
    height:40vh;
    text-align: center;
   // margin-top: 9vh;
}
#welcome_notice{
    text-align: center;
    position: absolute;
    left:50%;
    transform : translateX(-50%);
    margin-top: 25vh;
    font-family: 'Lora', serif;
    font-weight: bold;
}
#about-us{
    background-color: transparent;
    box-shadow: none;
    z-index: 100;
    border:2px solid antiquewhite;
}
#research{
    background-color: transparent;
    box-shadow: none;
    z-index: 100;
    border:2px solid antiquewhite;
}
#alumni{
    background-color: transparent;
    box-shadow: none;
    z-index: 100;
    border:2px solid antiquewhite;
}
#awards{
    background-color: transparent;
    box-shadow: none;
    z-index: 100;
    border:2px solid antiquewhite;
}
H2{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -70%);
    font-family: 'Bitter', serif;
}
.subtitles:hover{
    background-color: grey;
    cursor:pointer;
}
#myNavbar{
    margin-top: 2vh;
}
.navbar-header{
    margin-top: 2vh;
}
#smthng{
    height:50vh;
    background-color: antiquewhite;
}
#media{
    height:60vh;
    background-color: grey;
    margin:0;
    padding:0;
}
#foorter{
    height:40vh;
    background-color: aqua;
}
#background{
    min-width: 100vw;
    min-height: 100vh;
}
.yadav {
    background-color:#ccc;
    //width:300px;
    height:60vh;
    overflow:hidden;
    padding:10px;
    font-family:Helvetica;
}
.yadav .mask {
    position: relative;
    left: 0px;
    top: 10px;
   // width:300px;
    height:50vh;
    overflow: hidden;
}
.yadav ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
}
.yadav ul li {
    padding:10px 0px;
}
.yadav ul li a {
    color:darkred;
    text-decoration:none;
}
#media_art1{
    margin:0;
    padding:2vh 0;
    height:60vh;
    padding-left: 3vw;
    padding-right: 3vw;
    overflow-y: scroll;
    background-color: white;
    border:0.5px solid silver;
    text-align: justify;
}
#media_art2{
    margin:0;
    padding:0;
    height:30vh;
    background-color: white;
    border: 0.5px solid silver;
}
#media_art3{
    margin:0;
    padding:0;
    height:30vh;
    background-color: white;
    border: 0.5px solid silver;
}
#media_art4{
    margin:0;
    padding:0;
    height:30vh;
    background-color: white;
    border: 0.5px solid silver;
}
#nso{
    height:30vh;
    width: auto;
    margin-left: 3vw;
}
#media_art5{
    margin:0;
    padding:0;
    height:30vh;
    background-color: white;
    border: 0.5px solid silver;
}
#about-us-detail{
    display: none;
}
#research-detail{
    display:none;
}
#alumni-detail{
    display:none;
}
#awards-detail{
    display:none;
}
#news{
    background-color: white;
    border: 0.5px solid silver;
    height:60vh;
}
